@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }


html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
} 

a {
  color: #eeeeee;
  text-decoration: none; }
  a:hover {
    color: #e12727; }

body {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  font-family: 'RobotoRegular', Arial, sans-serif;
  line-height: 1.5em;
}




img {
  width: 100%;
  box-sizing: border-box;
}

.img-item {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  max-width: 40%;
}


li {
  text-decoration: none;
  list-style: none;
  padding: 20px;
  
}

.top-bkgc {
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
}

.top_line {
  display: block;
  position: top;
  max-width: 100%;
  min-height: 40px;
  max-height: 100px;
  text-decoration: none;
  text-align: top left;

}

.clearfix {
  clear: both;
}

.header-menu {
  text-align: right;
  margin: 10px;
}

.header-menu {
  display: table;
  width: 100%;
  border-radius: 0 0 7px 7px;
  background: rgba(0, 0, 0, 0.2);
  }
  .header-menu__list {
    display: table;
    list-style: none; 
  }
   

.header-menu__list-item {
 
 
}

.images-section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 90px;
}



.img-pic {
  max-width: 100%;

}


     
